[submodule "FlashTool/Qt/STM32FlashTool/thirdparty/qmllogging"]
	path = FlashTool/Qt/STM32FlashTool/thirdparty/qmllogging
	url = git@github.com:amrayn/qmllogging.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "doc/doxygen-awesome-css"]
	path = doc/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "stm_flash_tool"]
	path = stm_flash_tool
	url = git@github.com:FlorianFrank/stm_flash_tool.git
[submodule "stm32_usb_lib"]
	path = stm32_usb_lib
	url = git@github.com:FlorianFrank/stm32_usb_lib.git
